button {
  background-color: #5fbe9b;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #5fbe9b;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 5px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
